<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MainTestSuite">

	<test name="testngTest">
	
	<classes>
			<class name="WebTest.MaxLifeShikshaPlusSuperTest"></class>

		</classes>
	
		<!-- <classes>
			<class name="WebTest.JourneyScreenFourTest"></class>

		</classes> -->


		<!-- <classes> <class name="WebTest.ScenariosOfSmartTermPlanRegressionTest" 
			/> </classes> -->


		<!-- <classes> <class name="WebTest.JourneyScreenTwoTest" /> </classes> -->
	</test>

</suite>