<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MainTestSuite">
	<test name="testngTest">
		<classes>
          <!--  <class name="WebTest.ToCheckDocumentRuleIsPendingTest" /> -->
			<class name="WebTest.MaxLifeLifePerfectPartnerSuperTest" />
			<!-- <class name="WebTest.MaxLifeShikshaPlusSuperTest" /> -->
			<!-- <class name="WebTest.MaxLifeFastTrackSuperPlanTest" /> -->
			<!-- <class name="WebTest.MaxLifeSavingsAdvantagePlanTest" /> --> 
			<!-- <class name="WebTest.MaxLifeSuperTermPlanTest" /> -->

			<!-- <class name="WebTest.JourneyScreenFourTest" /> -->
			<!-- <class name="WebTest.ScenariosOfSmartTermPlanRegressionTest" /> -->
			<!-- <class name="WebTest.JourneyScreenTwoTest" /> -->
		</classes>
	</test>

</suite>